@use "variables" as *;

$ctaHeight: 480px;

.cta-holder {
  width: auto;
  height: $ctaHeight;
  background-color: rgba(0, 0, 0, 0.4);
  &::before {
    content: "";
    background: url("/res/img/cta-real.png") no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: $ctaHeight;
    z-index: -1;
  }
  h2 {
    text-align: center;
    font-size: 3em;
    letter-spacing: 0.1em;
    font-family: $fontPrimary;
    font-weight: 600;
    color: $backColor;
    text-transform: uppercase;
    padding-top: calc($ctaHeight * 0.3);

    @include mqmax(small) {
      font-size: 2em;
    }
  }
  .cta-subtitle {
    text-align: center;
    font-size: 1.5em;
    font-family: $fontPrimary;
    color: $backColor;
    letter-spacing: 0.05em;
    padding-bottom: 1em;
  }
}

.cta-contact {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  @include mqmax(medium) {
    background-color: rgba(0, 0, 0, 0.4);
  }

  &::before {
    content: "";
    background: url("/res/img/cta-contact.jpg") no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: $ctaHeight;
    z-index: -1;
  }
  .text {
    position: absolute;
    bottom: calc($ctaHeight * 0.175);
    left: calc(100vw * 0.1);
  }
  h2 {
    font-size: 3em;
    letter-spacing: 0.1em;
    font-family: $fontPrimary;
    font-weight: 600;
    color: $backColor;
    text-transform: uppercase;
    padding-top: calc($ctaHeight * 0.3);
    text-align: left;

    @include mqmax(small) {
      font-size: 2em;
    }
  }
  .cta-subtitle {
    font-size: 1.5em;
    font-family: $fontPrimary;
    color: $backColor;
    letter-spacing: 0.05em;
    padding-bottom: 0;
    text-align: left;
  }
  .cta-button {
    position: absolute;
    right: calc(100vw * 0.1);
    bottom: calc($ctaHeight * 0.175);
    transform: scale(1.4);

    @include mqmax(large) {
      bottom: calc($ctaHeight * 0.075);
      transform: scale(1);
    }
  }
}
