@use "variables";

.row {
  display: flex;
  flex-wrap: wrap;
}

@include variables.mq(small) {
  @for $i from 1 through 12 {
    .col-#{$i} {
      flex: 0 0 calc(100% / (12 / $i));
    }
  }
}

//&:not(:first-of-type)
