@use "variables" as *;

.hero-box {
  width: 22.5em;
  height: auto;
  margin: 2.5em 0;
  padding: 2.5em;
  border: 1px solid $primaryColor;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  &-animated {
    transition: 500ms;
    &:hover {
      transform: scale(1.01);
    }
  }

  @include mqmax(small) {
    width: 100%;
  }

  .header {
    font-family: $fontPrimary;
    display: flex;
    justify-content: space-between;
    text-align: right;
  }

  img {
    height: 160px;
    width: auto;
  }

  h1 {
    font-size: 2em;
    letter-spacing: 0.05em;
  }

  h2 {
    letter-spacing: 0.075em;
    font-size: 0.9em;
  }

  .hero-box-text {
    margin-top: 1.5em;
    text-align: justify;
    font-family: $fontSecondary;
    .btn {
      margin-top: 1em;
    }
  }
}

.hero-box-big {
  width: 50%;
  height: auto;
  margin: 5em auto;
  padding: 5em;
  max-width: 1920px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;

  @include mqmax(large) {
    grid-template-columns: repeat(1, 1fr);
  }

  @include mqmax(small) {
    padding: 0.2em;
    width: 90%;
    margin: 2em auto;
  }

  .hero-box-image {
    width: 100%;

    @include mqmax(medium) {
      width: 100%;
    }

    @include mqmax(large) {
      width: 70%;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
  .header {
    display: block;
    margin-left: 2em;
    h2 {
      font-size: 1.4em;
    }

    @include mqmax(small) {
      margin: 0 0.2em;
    }
  }
  .hero-box-heading {
    text-align: left;
  }
  .hero-box-text {
    margin-left: 2em;
    p {
      margin: 0.5em 0;
      font-size: 1.2em;
    }
    @include mqmax(small) {
      margin: 0 0.2em;
    }
  }

  .hero-box-text-wide {
    grid-column: 1 / span 2;
    grid-row: 2;

    @include mqmax(large) {
      grid-column: 1 / span 1;
      grid-row: 3;
    }
  }
}
