@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Nunito&display=swap");
.pswp__counter {
  font-family: "Nunito", sans-serif;
}

footer {
  margin-top: auto;
  min-height: 1.5em;
  text-align: center;
  vertical-align: bottom;
  background-color: rgb(75, 53, 17);
  color: white;
  padding: 0.5em;
  font-family: "Nunito", sans-serif;
}

nav {
  border-bottom: 1px solid rgba(139, 98, 32, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(250, 250, 224);
  font-family: "Archivo Narrow", sans-serif;
  height: 90px;
}
nav .logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2em;
  color: rgb(75, 53, 17);
}
nav .logo .logo-icon {
  height: 5em;
  width: auto;
  margin: 0.25em 0.25em;
}
nav .nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1em 0;
  margin-right: 2em;
}
nav .nav-links .nav-icon {
  display: block;
  width: 2em;
  height: 2em;
  margin: 0 0.25em;
  transition: 0.3s;
  filter: invert(22%) sepia(18%) saturate(1579%) hue-rotate(358deg) brightness(94%) contrast(98%);
}
nav .nav-links .nav-icon:hover, nav .nav-links .nav-icon:active {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav li a {
  background-color: rgb(250, 250, 224);
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  font-weight: 300;
  color: rgb(75, 53, 17);
  margin: 0.1em 0.8em;
  padding: 0.1em 0.8em;
  text-align: center;
  text-decoration: none;
  border: 0;
  text-decoration: none;
  transition: 0.3s;
  text-transform: uppercase;
  border-radius: 10px;
}
nav li a:active, nav li a:hover {
  background-color: rgba(139, 98, 32, 0.9);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Hero Image*/
.hero {
  height: calc(100vh - 90px);
  background-color: rgba(0, 0, 0, 0.4);
}

/*Background Image */
.hero:before {
  content: "";
  background: url("/HezkyBoudy%20-%20web/dev/res/img/hero-frame.jpg") no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: calc(100vh - 90px);
  z-index: -1;
}

.hero-inner {
  position: relative;
  height: 100%;
}
.hero-inner .scroll-down {
  position: absolute;
  top: calc(100% - 3em);
  left: calc(50% - 0.75em);
}
.hero-inner .scroll-down img {
  height: auto;
  width: 1.5em;
  opacity: 0;
  filter: invert(96%) sepia(10%) saturate(788%) hue-rotate(330deg) brightness(109%) contrast(96%);
  -webkit-animation: scroll 3s 2.7s ease-in normal infinite;
          animation: scroll 3s 2.7s ease-in normal infinite;
}

.hero-text {
  position: absolute;
  overflow: hidden;
  top: 55%;
  margin-left: 5vw;
  color: rgb(250, 250, 224);
  -webkit-animation: showHide 2s 0.5s ease-in normal 1;
          animation: showHide 2s 0.5s ease-in normal 1;
}
.hero-text h1 {
  font-size: 5em;
  letter-spacing: 0.1em;
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 800;
}
.hero-text p {
  font-size: 2.5em;
  font-family: "Archivo Narrow", sans-serif;
}

@-webkit-keyframes showHide {
  0% {
    opacity: 0;
    transform: translateX(-1vw);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes showHide {
  0% {
    opacity: 0;
    transform: translateX(-1vw);
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes scroll {
  0% {
    opacity: 0;
    transform: translateY(-0.5em);
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    transform: translateY(0.5em);
  }
}
@keyframes scroll {
  0% {
    opacity: 0;
    transform: translateY(-0.5em);
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    transform: translateY(0.5em);
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 576px) {
  .col-1 {
    flex: 0 0 8.3333333333%;
  }

  .col-2 {
    flex: 0 0 16.6666666667%;
  }

  .col-3 {
    flex: 0 0 25%;
  }

  .col-4 {
    flex: 0 0 33.3333333333%;
  }

  .col-5 {
    flex: 0 0 41.6666666667%;
  }

  .col-6 {
    flex: 0 0 50%;
  }

  .col-7 {
    flex: 0 0 58.3333333333%;
  }

  .col-8 {
    flex: 0 0 66.6666666667%;
  }

  .col-9 {
    flex: 0 0 75%;
  }

  .col-10 {
    flex: 0 0 83.3333333333%;
  }

  .col-11 {
    flex: 0 0 91.6666666667%;
  }

  .col-12 {
    flex: 0 0 100%;
  }
}
.col-border {
  border-bottom: 1px solid rgb(139, 98, 32);
  border-left: 1px solid rgb(139, 98, 32);
  margin-left: -1px;
}
.col-border:last-of-type {
  border-right: 1px solid rgb(139, 98, 32);
  margin-right: -1px;
}

.hero-box {
  width: 22.5em;
  height: auto;
  margin: 2.5em 0;
  padding: 2.5em;
  border: 1px solid rgb(139, 98, 32);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.hero-box .header {
  font-family: "Archivo Narrow", sans-serif;
  display: flex;
  justify-content: space-between;
  text-align: right;
}
.hero-box img {
  height: 160px;
  width: auto;
}
.hero-box h1 {
  font-size: 2em;
  letter-spacing: 0.05em;
}
.hero-box h2 {
  letter-spacing: 0.075em;
  font-size: 0.9em;
}
.hero-box .hero-box-text {
  margin-top: 1.5em;
  text-align: justify;
  font-family: "Nunito", sans-serif;
}
.hero-box .hero-box-text .btn {
  margin-top: 1em;
}

.hero-box-big {
  width: 50%;
  height: auto;
  margin: 5em auto;
  padding: 5em;
  max-width: 1920px;
  display: flex;
}
.hero-box-big .hero-box-image {
  width: 100%;
}
.hero-box-big img {
  width: 100%;
  height: auto;
}
.hero-box-big .header {
  display: block;
  margin-left: 2em;
}
.hero-box-big .header h2 {
  font-size: 1.4em;
}
.hero-box-big .hero-box-heading {
  text-align: left;
}
.hero-box-big .hero-box-text {
  margin-left: 2em;
}
.hero-box-big .hero-box-text p {
  margin: 0.5em 0;
  font-size: 1.2em;
}

.btn {
  background-color: rgb(250, 250, 224);
  -webkit-appearance: button;
     -moz-appearance: button;
          appearance: button;
  font-size: 1.25em;
  letter-spacing: 0.1em;
  font-weight: 300;
  color: rgb(75, 53, 17);
  margin: 0.1em 0.8em;
  padding: 0.1em 0.8em;
  text-align: center;
  text-decoration: none;
  border: 0;
  text-decoration: none;
  transition: 0.3s;
  text-transform: uppercase;
  border-radius: 5px;
  font-family: "Archivo Narrow", sans-serif;
}
.btn:active, .btn:hover {
  background-color: rgba(139, 98, 32, 0.9);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  color: rgb(250, 250, 224);
}
.btn-outline {
  border: 2px solid rgba(139, 98, 32, 0.9);
}

.ref-box {
  width: 22.5em;
  height: auto;
  margin: 2.5em 0;
  padding: 2.5em;
  border: 1px solid rgb(139, 98, 32);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ref-box .header {
  font-family: "Archivo Narrow", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
}
.ref-box img {
  width: 100%;
  max-height: 120px;
}
.ref-box h1 {
  font-size: 2em;
  letter-spacing: 0.05em;
  margin-top: 0.25em;
}
.ref-box h2 {
  letter-spacing: 0.075em;
}
.ref-box .ref-box-text {
  margin-top: 1.5em;
  text-align: justify;
  font-family: "Nunito", sans-serif;
}

.offer-heading {
  font-family: "Archivo Narrow", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.75em;
  padding-top: 1em;
  letter-spacing: 0.05em;
}

.offer-box {
  width: 22.5em;
  height: auto;
  margin: 2.5em 0;
  padding: 2.5em;
  border: 1px solid rgb(139, 98, 32);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}
.offer-box .image {
  width: 560px;
  height: auto;
}
.offer-box h2 {
  font-family: "Archivo Narrow", sans-serif;
  text-transform: uppercase;
  text-align: right;
  font-size: 1.75em;
  letter-spacing: 0.05em;
}
.offer-box p {
  margin-left: 0.5em;
  font-family: "Nunito", sans-serif;
  text-align: justify;
}

.offer-button {
  margin: 2em 0;
}

.col-open {
  flex-basis: 100%;
}

.offer-box-open {
  width: 90%;
}
.offer-box-open .image {
  width: 480px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}
.offer-box-open .image > img {
  width: 100%;
}
.offer-box-open .image > :first-child {
  grid-column: 1/3;
}
.offer-box-open .text {
  margin-left: 4em;
}
.offer-box-open p:not(:first-of-type) {
  margin-top: 2em;
}

.cta-holder {
  width: auto;
  height: 480px;
  background-color: rgba(0, 0, 0, 0.4);
}
.cta-holder::before {
  content: "";
  background: url("/HezkyBoudy%20-%20web/dev/res/img/hero-frame.jpg") no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 480px;
  z-index: -1;
}
.cta-holder h2 {
  text-align: center;
  font-size: 3em;
  letter-spacing: 0.1em;
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 600;
  color: rgb(250, 250, 224);
  text-transform: uppercase;
  padding-top: 144px;
}
.cta-holder .cta-subtitle {
  text-align: center;
  font-size: 1.5em;
  font-family: "Archivo Narrow", sans-serif;
  color: rgb(250, 250, 224);
  letter-spacing: 0.05em;
  padding-bottom: 1em;
}
.cta-contact {
  position: relative;
}
.cta-contact .text {
  position: absolute;
  bottom: 84px;
  left: 10vw;
}
.cta-contact h2 {
  font-size: 3em;
  letter-spacing: 0.1em;
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 600;
  color: rgb(250, 250, 224);
  text-transform: uppercase;
  padding-top: 144px;
  text-align: left;
}
.cta-contact .cta-subtitle {
  font-size: 1.5em;
  font-family: "Archivo Narrow", sans-serif;
  color: rgb(250, 250, 224);
  letter-spacing: 0.05em;
  padding-bottom: 0;
  text-align: left;
}
.cta-contact .cta-button {
  position: absolute;
  right: 10vw;
  bottom: 84px;
}

.highlights-heading {
  font-family: "Archivo Narrow", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.75em;
  border-top: 1px solid rgba(139, 98, 32, 0.5);
  padding-top: 3em;
  letter-spacing: 0.05em;
}

.highlights-box {
  border: 1px solid rgb(139, 98, 32);
  width: 25em;
  height: auto;
  padding: 2.5em;
  margin-top: 2em;
  margin-bottom: 5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.highlights-box .image {
  height: 120px;
  width: auto;
  margin: auto;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
}
.highlights-box .image img {
  height: inherit;
}
.highlights-box .text {
  padding: 0 1em;
}
.highlights-box h2 {
  font-family: "Archivo Narrow", sans-serif;
  text-transform: uppercase;
  font-size: 1.75em;
  letter-spacing: 0.05em;
}
.highlights-box ul {
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  letter-spacing: 0.05em;
  list-style: url("/HezkyBoudy%20-%20web/dev/res/icons/bullet-dark.svg");
  list-style-position: inside;
  line-height: 1.7em;
}
.highlights-box li {
  font-size: 1.2em;
  margin-top: 0.7em;
}

.service {
  border: none;
  box-shadow: none;
  width: unset;
}
.service p {
  margin-top: 2em;
  font-family: "Nunito", sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
  text-align: justify;
}
.service li {
  font-size: 1.5em;
  line-height: 1.7em;
}

.svg-dark {
  filter: invert(17%) sepia(7%) saturate(7035%) hue-rotate(5deg) brightness(95%) contrast(87%);
}

/* Hero Image*/
.hero-pattern {
  height: 15em;
  background-color: rgba(0, 0, 0, 0.2);
}

/*Background Image */
.hero-pattern:before {
  content: "";
  background: url("/HezkyBoudy%20-%20web/dev/res/icons/pattern.svg") repeat;
  position: absolute;
  width: 100%;
  height: 15em;
  z-index: -1;
}

.hero-pattern-inner {
  position: relative;
  height: 100%;
}

.hero-pattern-text {
  position: absolute;
  overflow: hidden;
  background-color: rgb(250, 250, 224);
  top: 2.5em;
  margin-left: 5vw;
  color: rgb(75, 53, 17);
  border: 1px solid rgba(139, 98, 32, 0.5);
}
.hero-pattern-text h1 {
  font-size: 4em;
  letter-spacing: 0.1em;
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 800;
  margin: 0.05em 0.4em;
  text-transform: uppercase;
}

.gallery-box {
  width: 100%;
  height: auto;
  margin: 0.5em 0.5em;
  padding: 1.5em;
  border: 1px solid rgb(139, 98, 32);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}
.gallery-box .image {
  width: 100%;
  height: auto;
}
.gallery-box img {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery-box h2 {
  font-family: "Archivo Narrow", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.75em;
  letter-spacing: 0.05em;
  margin-top: 1em;
}
.gallery-box .gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px 10px;
}
.gallery-box .gallery-grid-wide {
  grid-column: auto/span 2;
}
.gallery-box .gallery-grid a {
  height: 300px;
  text-align: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.gallery-box .gallery-grid a:active, .gallery-box .gallery-grid a:hover {
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.6);
}

.contact-box {
  width: 90%;
  height: auto;
  margin: 2.5em 0;
  margin-bottom: 5em;
  padding: 2.5em;
}
.contact-box .image {
  width: 120px;
  height: auto;
  margin: auto;
}
.contact-box .text {
  padding: 0 1em;
}
.contact-box p {
  margin-top: 2em;
}
.contact-box h2 {
  font-family: "Archivo Narrow", sans-serif;
  text-transform: uppercase;
  font-size: 1.75em;
  letter-spacing: 0.05em;
}
.contact-box ul {
  font-family: "Nunito", sans-serif;
  font-size: 1em;
  letter-spacing: 0.05em;
  list-style: url("/HezkyBoudy%20-%20web/dev/res/icons/bullet-dark.svg");
  list-style-position: inside;
}
.contact-box li {
  font-size: 1.2em;
  margin-top: 0.7em;
}

.map {
  width: 100vw;
  height: 25em;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical;
  /* Allow the user to vertically resize the textarea (not horizontally) */
  font-family: "Nunito", sans-serif;
  display: block;
  min-height: 1em;
}

#name,
#mail,
#subject {
  width: 40%;
}

label {
  font-family: "Nunito", sans-serif;
}

.feature {
  width: 90%;
  height: auto;
  margin: 0 auto;
  padding: 5em;
  max-width: 1920px;
  display: flex;
  font-family: "Archivo Narrow", sans-serif;
  justify-content: space-between;
}
.feature-inner {
  display: block;
  max-width: 50%;
}
.feature h1 {
  font-size: 2em;
  letter-spacing: 0.05em;
}
.feature-text {
  font-size: 1.2em;
  margin: 1em 3em 1em 0;
  font-family: "Nunito", sans-serif;
}
.feature-text p {
  margin: 0.75em 0;
}
.feature-button {
  margin-top: 3em;
}
.feature-image {
  border-radius: 0.25em;
  position: relative;
  width: 540px;
  height: auto;
  background-image: url("file:///C:/Users/Red%20Devil/Desktop/WEBY/HezkyBoudy%20-%20weby/dev/res/img/hero-frame.jpg");
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.feature-image::after {
  content: "";
  position: absolute;
  top: -30px;
  left: -30px;
  width: 60px;
  height: 75px;
  background: url("file:///C:/Users/Red%20Devil/Desktop/WEBY/HezkyBoudy%20-%20weby/dev/res/icons/bullet-dark.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -10;
}
.feature-image::before {
  content: "";
  position: absolute;
  bottom: -35px;
  right: -30px;
  width: 60px;
  height: 75px;
  background: url("file:///C:/Users/Red%20Devil/Desktop/WEBY/HezkyBoudy%20-%20weby/dev/res/icons/bullet-dark.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: -10;
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.holder {
  max-width: 1920px;
  margin: auto;
}
.holder-sm {
  width: 90vw;
  margin: 5em auto;
}

.hr-small {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid rgb(250, 250, 224);
  margin: 0.2em 0;
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-top {
  align-items: unset;
}

.no-border {
  border: 0;
}

.symbol-vertical {
  content: "";
  background: url("/HezkyBoudy%20-%20web/dev/res/icons/filler-full.svg") no-repeat;
  z-index: -1;
  background-size: 12em;
  background-position: center;
}

.anotation {
  border-top: 1px solid rgb(75, 53, 17);
  border-bottom: 1px solid rgb(75, 53, 17);
}
.anotation h1 {
  padding: 2.5em;
  font-size: 3em;
  font-family: "Archivo Narrow", sans-serif;
  letter-spacing: 0.015em;
  font-style: italic;
}
.anotation h1::before {
  content: " „ ";
}
.anotation h1::after {
  content: " ” ";
}

.mt2 {
  margin-top: 2em;
}

.mt5 {
  margin-top: 5em;
}

.mb5 {
  margin-bottom: 5em;
}/*# sourceMappingURL=style.css.map */